* {
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 50vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 20px;
}
.instagram-phone img {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    margin-right: 0px;
    border-top:solid 2.5px rgb(0, 0, 0);
    border-left: solid 2.5px   rgb(0, 0, 0);
    border-right:solid 2.5px rgb(0, 0, 0);
    border-bottom: solid 2.5px  rgb(0, 0, 0); 
    height: 40rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 30rem;
}

.group {
    border: black;
    font-style: oblique;
    border-style:groove ;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 50%;
    padding: 1.3rem 0;
   
}

.group:nth-child(1) {
    min-height: 34rem;
}

.instagram-logo {
    padding-bottom: 15%;
    font-size: 25px;
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-left: solid rgb(212, 11, 219);
    border-top: solid rgb(177, 12, 12);
    border-right: solid rgb(199, 13, 128);
    border-bottom: solid  rgb(177, 12, 12);
    overflow: hidden;
    margin-bottom: 5px;
}

.profile-photo img {
    height: 6rem;
  
}

.instagram-login {
    border-radius: 0%;
    background-color: black;
    color: #ffffff;
    padding: 8px;
    border-radius: 10px;
}

.instagram-logout {
    font-size: 15px;
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(0, 0, 0);
}

.link-blue {
    color: #0400f6;
}






 


/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: rgb(41, 20, 40);
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}